borderColor = #CCCCCC
optionHeight = 22px
fontSize = 12px
.bf-select
  border: 1px solid borderColor
  font-size: fontSize
  padding: 4px
  outline: none
.bf-menu
  border: 1px solid borderColor
  background-color: #fff
  .bf-option
    height: optionHeight
    line-height: @height
    color: #333333
    font-size: fontSize




