borderColor = #CCCCCC
optionHeight = 26px
optionHoverColor = #FF6600
optionHoverBgColor = #FFF8F3
fontSize = 12px
.bf-select
  border: 1px solid borderColor
  font-size: fontSize
  padding: 4px 8px
  outline: none
  position: relative
  cursor: pointer
  .bf-menu-button-dropdown
    position: absolute
    top: 10px
    right: 8px
    width: 10px
    height: 5px
    background: url(http://img04.taobaocdn.com/tps/i4/T1J6x.FkFeXXX_ownc-30-40.png) -10px -25px no-repeat
.bf-menu-button-open
  .bf-menu-button-dropdown
    background-position:  -10px -10px
.bf-menu
  border: 1px solid borderColor
  background-color: #fff
  .bf-option
    height: optionHeight
    line-height: @height
    color: #333333
    font-size: fontSize
    padding-left: 12px
    cursor: pointer
  .bf-option-hover
    color: optionHoverColor
    background-color: optionHoverBgColor




