.bf-select{border:1px solid #ccc;font-size:12px;padding:4px 8px;outline:none;position:relative;cursor:pointer;}
.bf-select .bf-menu-button-dropdown{position:absolute;top:10px;right:8px;width:10px;height:5px;background:url("http://img04.taobaocdn.com/tps/i4/T1J6x.FkFeXXX_ownc-30-40.png") -10px -25px no-repeat}
.bf-menu-button-open .bf-menu-button-dropdown{background-position:-10px -10px}
.bf-menu{border:1px solid #ccc;background-color:#fff;}
.bf-menu .bf-option{height:26px;line-height:26px;color:#333;font-size:12px;padding-left:12px;cursor:pointer}
.bf-menu .bf-option-hover{color:#f60;background-color:#fff8f3}
